* {
  font-family: "Trebuchet MS", sans-serif;
}

body{
  background-color: LightGray;
}

h1 {
  text-align: center;
  font-size: 44px;
  margin: 3%;
}

p.credit {
  text-align: center;
  font-size: 12px;
  margin-top: -2%;
  margin-bottom: 5%;
}

form{
  width: 80%;
  margin: 10%;
  display: flex;
}

input[type=text] {
  width: 80%;
  padding: 1% 2%;
  border: none;
  border-radius: 10rem;
  background-color: #f1f1f1;
  font-size: 15px;
  margin-right: 1%;
}

.button {
  width: 20%;
  background-color: #3e8e41;
  border: none;
  border-radius: 10rem;
  color: white;
  padding: 1% 2%;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
}

.button:hover {
  background-color: green;
}
