* {
  background-color: LightGray;
  font-family: "Trebuchet MS", sans-serif;
}

h1 {
  text-align: center;
  font-size: 44px;
  margin: 3%;
}

p.credit {
  text-align: center;
  font-size: 12px;
  margin-top: -2%;
  margin-bottom: 5%;
}

form{
  text-align: center;
}

input[type=text] {
  width: 70%;
  padding: 16px 20px;
  border: none;
  border-radius: 4px;
  background-color: #f1f1f1;
}

.button {
  width: 10%;
  background-color: #3e8e41;
  border: none;
  border-radius: 6px;
  color: white;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
}

.button:hover {
  background-color: green;
}
