<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Easy High</title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
</head>
<body>
    <h1>Easy High, por Nagy</h1>
    <div class="topnav">
    <form class="search" action="search">
      <input type="text" placeholder="Cole a descrição aqui." name="description">
      <button type="submit"><i class="fa fa-search"></i></button>
    </form>
    </div>
</body>
</html>